name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Install backend dependencies
        run: npm install
        working-directory: ./backend
      - name: Install frontend dependencies
        run: npm install
        working-directory: ./frontend
      - name: Check backend style
        run: npm run lint
        working-directory: ./backend
      - name: Check frontend style
        run: npm run lint
        working-directory: ./frontend
      - name: Build frontend
        run: npm run build:ui
        working-directory: ./backend
        if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message), '#skip') }}
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy with flyctl
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: |
          flyctl deploy --remote-only
        working-directory: ./backend

  tag_release:
    needs: [deployment_pipeline]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message), '#skip') }}
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch

  discord_hook:
    needs: [deployment_pipeline, tag_release]
    runs-on: ubuntu-latest
    steps:
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
